<br>
<div class="container">
    <div class="row ">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary ">
                <div class="panel-heading">
                    <div>
                        <center><h3>Log In</h3></center>
                    </div>
                </div>
                <div class="panel-body">
                    <form accept-charset="utf-8" role="form" novalidate>
                        <fieldset class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="text" ng-model="vm.email" id="email"
                                   placeholder="Enter email">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" ng-model="vm.password" id="password"
                                   placeholder="Enter password">
                        </fieldset>
                        <button class="btn btn-primary btn-block" ng-click="vm.login()">Login</button>
                    </form>
                </div>
            </div>
            <p>{{vm.success}}</p>
        </div>
    </div>
</div>